/*Tipo de letra*/
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Color del fondo gris*/
.header {
  overflow: hidden;
  background-color: #2D5D7C;
  padding: 20px 10px;
  height: 40px;
}

aside {
  background: lightgreen;
   width: 30%;
}

.container {
  overflow: auto;
  background-color: #FBF3F2;
  padding: 20px 10px;
  height: 40px;
}

.container-right {
  float: right;
}

.container a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 4px;
}

/* Estilo del color del logo */
.container a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* cambiar el color del header al pasar el mouse*/
.container a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.container a.active {
  background-color: dodgerblue;
  color: black;
}

/* Estilo de los enlaces del header */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 4px;
}

/* Estilo del color del logo */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* cambiar el color del header al pasar el mouse*/
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/*Media Querys */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
.backcolor{
background:url(../img/Login_Background.jpg);
background-position: center;
background-repeat: no-repeat;
}
.fondoen{
  background-color::url(../img/farmacia.png);
  background-size: cover;
  background-attachment: fixed;
}
.logomin{
	width: 31px;
	height: 31px;
   padding-top: 1px;
	margin: 0 auto;
	display: block;

}
.margenes{
  margin-bottom:55px;
  margin-top:55px;
}
#Name{
	color:Black;
	width:200px;
	height:20px;
background:white;
padding:3px;
margin:10px 10px;
border:3px solid black;
 border-radius: 5px;
display: inline-block;
}
#ShipButton{
 background: White;
 color: #1C1C1C;
 margin:10px 10px;
 padding: 5px;
 font-size: 16px;
 border-radius: 5px;
 transition: all 500ms ease;
 border: 3px solid Black;
 display: inline-block;
}
.main-header{
  background-color:#3f51b5;
  padding-left:15px;
  padding-right:15px;
  padding-top:15px;
  padding-bottom:15px;
  text-align:left;
  border-color: black;
}
.footerandHeader{
  background-color:#3f51b5;
}
.body{
 /* background:url(../img/fondo1.jpg);*/
 background-color: white;
	background-size: contain;
}
.button{
	appearance: button;
	    -moz-appearance: button;
	    -webkit-appearance: button;
	    text-decoration: none; font: menu; color: ButtonText;
	    display: inline-block; padding: 2px 8px;
}
.buttonAlign{
	margin-left:15px;
}
.backgroundColor{
	background-color:#819FF7;
}
.nav-link{
  color:white;
  margin-left:15px;
  margin-right:15px;
  text-decoration:none;
  /*font: bold 100% Arial;*/
}
.text-center{
  text-align:center;
/*  font: bold 150% Arial;*/
}
.menu_slide{
  margin-right: 15px;
}
.bordes{
  border-radius: 15pt;
}
.tittle{
  margin-top:0;
  font-size:200%;
  font-weight:bold;
  color: antiquewhite;
}
.main-container{
  min-height: 100vh
}

.text-inside {
  font-size: 120%;
  font-family: "calibri",sans-serif;
  font-weight: bold;
  font-size-adjust: auto;
}

.header input[type=text]{
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size:17px;
}

.tab{
  float: left;
  border: 1px solid #707070;
  background-color: #FFFFFF;
  width:300px;
  height: 100vh;
}

.tabcontet{
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 1020px;
}

.top-tab{
  float: center;
  border: 1px solid #707070;
  background-color: #FFFFFF;
  width: 100%;
  height: 85px;
}

.text{
  text-align: center;
  color: #888585;
  width: 70%
  position: fixed;
}

.PatientName{
  text-align: center;
  color: ##074186;
}

.down-tab input{
  text-align: center;
  color: ##074186;
}

.text-insider{
  text-align: center;
  color: ##074186;
}

::placeholder{
  text-align: center;
  color: ##074186;
}

.flex-container{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  height: 60px;
  align-items: center;
}

.box{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  height: 60px;
  align-items: center;
}

.flex-container .selected{
  justify-content: center;
}
